    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ActionStar Catalog</title>
    <link rel="stylesheet" href="style/style1.css">
</head>
<body>
    <div id="app">   
        <header>
            <div class="containerMenu">
                <div class="menu">
                    <div class="menuPoint">
                        <a class="menuPointLogo" href="index.html"><img class="logo" src="icons/iconMainMenu.png" alt="MainMenu"></a>
                        <a class="menuPointText" href="index.html">Меню</a>
                    </div>
                    <div class="menuPoint">
                        <a class="menuPointLogo" href="catalog.html"><img class="logo" src="icons/iconCatalog.png" alt="Catalog"></a>
                        <a class="menuPointText" href="catalog.html">Каталог</a>
                    </div>                
                    <div class="menuPoint">                    
                        <form action="#" class="search-form" @submit.prevent="filter">
                            <input class="textSearch" type="text" placeholder="Поиск.." v-model="userSearch">
                            <button class="submitSearch" type="submit"><img class="logo-search" src="icons/search.png" alt="search"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="menuPoint">
                        <button class="btnBasketLogo"><img class="logo" src="icons/iconBasket.png" alt="Catalog"></button>
                        <button class="btnBasketText" type="button" @click="showBasket=!showBasket">Корзина</button>
                        <div class="basketMini" v-show="showBasket">
                            <div v-if="!inBasket.length" class="basketMiniStringMain" style="color:rgb(255, 0, 0)">Ваша корзина пуста</div>
                            <div v-else class="basketMiniStringMain">Ваша корзина</div>
                            <div class="productItemInBasket" v-for="product in inBasket":key="product.id_product">
                                <h3 class="productNameInBasket">{{product.product_name}}</h3>
                                <p class="productQuantityInBasket">{{product.quantity}} шт.</p>
                                <p class="productPriceInBasket">{{(product.price == undefined) ? 777 : product.price * product.quantity}} руб.</p>
                                <button class="del-btn" @click=removeProduct(product)>x</button>
                            </div>
                            <div v-if="inBasket.length" class="basketMiniStringSummary">Итого {{summaryBasket()}} руб.</div>
                            <button v-if="inBasket.length" onclick="location.href = 'basket.html'" class="basketForwardBtn">Перейти к оформлению</button>
                        </div>
                    </div>        
                </div>
            </div>       
        </header>
        <main>
            <div class="containerMain">
                <div class="products">
                    <div class="productItem" v-for="product of filtered" :key="product.id_product">
                        <div><img class="productImage" :src="(this.img == undefined) ? 'pictures/nophoto.png' : this.img" alt="photo"></div>
                        <h3 class="productName">{{product.product_name}}</h3>
                        <p class="productPrice">{{(product.price == undefined) ? 777 : product.price}} руб.</p>
                        <button class="buy-btn" @click="addProduct(product)" >Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>     
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="js/main.js"></script>
        

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
</body>
</html>